/* variables */
$dark: #232323;
$blue: #27273b;
$green: #1fb873;
$grey: #888888;
$lightgrey: #F2F3F4;
$white: #ffffff;



body {
  height: 100%;
  width: 100%;
  background: $lightgrey;
  font-family: 'Playfair Display', 'Times New Roman', Georgia, Serif;
  line-height: 1.618em;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;

  //highlight color
  ::selection {
    background: transparent;
    color: $green;
  }
  ::-moz-selection {
    background: transparent;
    color: $green;
  }

 // - - - - - - general styles

 h1 {
   color: $blue;
   font-size: 7em;
   font-weight: 900;
   letter-spacing: -0.02em;
  }
  h2 {
    color: $blue;
    font-size: 4vw;
    font-weight: 400;
    line-height: 1.618em;
  }
  h3 {
    max-width: 450px;
    display: inline-block;
    color: $blue;
    font-size: 3em;
    font-weight: 900;
    letter-spacing: 0.02em;
    line-height: 1.218em;
  }
  h4 {
    color: $blue;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 1.618em;
  }
  h5 {
    color: $green;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: -0.06em;
    line-height: 1em;
  }
  h6 {
    color: $green;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 0.02em;
  }
  p {
    max-width: 585px;
    color: $grey;
    letter-spacing: 0.06em;
    line-height: 1.618em;
  }
  .summary {
    max-width: 450px;
    margin-top: 15px;
  }
  .button {
    display: inline-block;
    padding: 10px 25px;
    margin: 15px 0;
    background: $green;
    border-radius: 20px;
    color: $white;
    transition: ease all 0.2s;

    &:hover {
      opacity: 0.85;
      text-decoration: none;
    }
  }
  .contain {
    max-width: 1200px;
    margin: 0px auto;
  }
  section {
    position: relative;
  }
}

// - - - - - - end general styles

// - - - - - - section styles
header {
  position: relative;
  display: flex;
  background: $white;

  .header-text {
    max-width: 1200px;
    padding: 150px 100px;
    position: relative;
    z-index: 2;

    h1 {
      display: inline-block;
      color: $blue;
    }
    h4 {
      margin-top: 15px;
      display: inline-block;
      color: $grey;
    }
  }
  .down {
    color: $dark;
    font-size: 1em;
    letter-spacing: 0.2em;
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    .line {
      height: 50px;
      width: 3px;
      margin: 0 auto;
      background: $lightgrey;
    }
  }
}
//blog post pages
header.header-interior {

  .header-text {
    padding: 150px 85px;

    h1 {
      font-size: 5vw;
    }
  }
}
header.split {

  .header-background {
    width: 50%;
  }
  .header-text {
    width: 50%;
  }
}
// blog list page
.blog-list {
  padding: 35px 0;

  a.list-item {
    margin: 35px 0;
    display: flex;
    align-items: stretch;
    transition: ease all 0.2s;

    .list-item-img {
      box-shadow: 0 0 45px rgba($dark, 0.15);
    }
    .information {
      padding: 25px 45px;
    }
    &:hover {
      text-decoration: none;
      opacity: 0.85;
    }
  }
}
//blog post
.blog-post {
  position: relative;

  .content {
    max-width: 585px;
    padding: 15px;
    margin: 65px auto;

    .image {
      padding: 35px 0;

      img {
        max-height: 900px;
        max-width: 100%;
        margin: 0 auto;
        display: block;
      }
      .caption {
        max-width: 385px;
        display: block;
        margin: 10px auto;
        color: $grey;
        font-size: 1em;
        font-weight: 900;
      }
    }
    .pullquote {
      padding: 35px 0;

      .quote {
        display: inline-block;
        color: $green;
        font-size: 3em;
        font-weight: 900;
        line-height: 1.418em;
        text-align: center;
      }
      .quoteauth {
        width: 100%;
        display: inline-block;
        padding: 10px 0;
        color: $blue;
        font-size: 1.2em;
        font-weight: 900;
        line-height: 1.618em;
        text-align: right;
      }
    }
    p:first-child:first-letter {
      padding-top: 5px;
      padding-right: 5px;
      float: left;
      color: $blue;
      font-size: 4em;
      line-height: 0.6em;
    }
  }
}
// blog post bottom
.blog-post-bottom {
  max-width: 1200px;
  margin: 0 auto;

  .article {
    text-align: center;

    .title {
      width: 100%;
      display: inline-block;
    }
    .article-img {
      height: 150px;
      width: 100%;
      max-width: 250px;
      display: inline-block;
    }
    span {
      width: 100%;
      display: inline-block;
    }
  }
}

//end footer styles

@media (min-width: 1600px) {

} /* @media */
@media (max-width: 1599px) and (min-width: 1192px) {

} /* @media */
@media (max-width: 1191px) and (min-width: 1000px) {

  // end about styles
} /* @media */
@media (max-width: 999px) and (min-width: 769px) {

} /* @media */
@media (max-width: 768px){

} /* @media */
