/* variables */
$dark: #232323;
$blue: #27273b;
$green: #1fb873;
$grey: #888888;
$lightgrey: #F2F3F4;
$white: #ffffff;

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  a.nav-image {
    display: inline-block;
    padding: 10px;

    img {
      height: 55px;
    }
  }
  ul.nav-list {
    margin: 15px 20px;
    list-style: none;
    float: right;

    li.nav-item {
      float: left;

      a {
        display: inline-block;
        padding: 10px 25px;
        color: $dark;
        font-size: 1.0em;
        font-weight: 900;
        letter-spacing: 0.01em;
        transition: ease all 0.2s;

        &:hover {
          text-decoration: none;
          opacity: 0.85;
        }
      }
      a.button {
        margin: 0 5px 0 15px;
        color: $white;
        background: $green;
        border-radius: 20px;
      }
    }
  }
}

@media (max-width: 999px) and (min-width: 769px) {

} /* @media */
@media (max-width: 768px){
  nav {

    a.nav-image {
      width: 100%;
      text-align: center;

      img {
        height: 45px;
      }
    }
    ul.nav-list {
      width: 268px;
      padding: 0;
      margin: 0 auto;
      float: none;

      li.nav-item a {
        padding: 10px;
        font-size: 0.8em;
      }
    }
  }
} /* @media */
