{% extends "_layout" %}
{% set title = entry.title %}


{% block pagestyles %}
{% endblock %}

  {% block content %}

  {% set image = entry.heroImage.first() %}
  {% if image %}
    <header class="header-interior split">
      <div class="header-background" style="background-image:url({{ image.url }});background-position:center;background-size:cover;">
      </div>

      <div class="header-text">
        <h1>{{ entry.title }}</h1>
        <div class="clearfix"></div>
        <div class="ert">
          <h6>{{ entry.ert }} min read</h6>
        </div>
        <div class="author">
          {% if entry.author.photoUrl %}
            <div class="author-img" style="background:url({{ entry.author.photoUrl }})no-repeat center;background-size:cover;"></div>
          {% endif %}
          <span class="date-name">by: <span class="name">{{ entry.author }}</span> <span class="date">{{ entry.postDate.format('M jS, Y') }}</span></span>
        </div>
      </div>
    </header>

    {% else %}

    <header class="header-interior">
      <div class="header-text">
        <h1>{{ entry.title }}</h1>
        <div class="clearfix"></div>
        <div class="ert">
          <h6>{{ entry.ert }} min read</h6>
        </div>
        <div class="author">
          {% if entry.author.photoUrl %}
            <div class="author-img" style="background:url({{ entry.author.photoUrl }})no-repeat center;background-size:cover;"></div>
          {% endif %}
          <span class="date-name">by: <span class="name">{{ entry.author }}</span> <span class="date">{{ entry.postDate.format('M jS, Y') }}</span></span>
        </div>
      </div>
    </header>

  {% endif %}

  <div class="blog-post">

    <!-- post body -->
    <div class="content">
      <!-- another back button -->
      <div class="back col-xs-12 visible-xs-block">
        <a href="/blog"><i class="fa fa-angle-left"></i>blog list</a>
      </div>
      <div class="clearfix"></div>

      <!-- all text and images -->
      <div class="copy">
        <!-- Blog Matrix section -->
        {% for block in entry.blogLayout %}

        <!-- main title block -->
        {% if block.type == "mainTitle" %}
          <h3 class="maintitle">
            {{ block.mainTitle }}
          </h3>

        <!-- second title block -->
        {% elseif block.type == "secondaryTitle" %}
          <h5 class="secondtitle">
            {{ block.secondaryTitle }}
          </h5>

        <!-- text block -->
        {% elseif block.type == "textBlock" %}
          {{ block.textBlock }}

        <!-- image with caption block -->
        {% elseif block.type == "photoBlock" %}
          {% set image = block.image.first() %}
          {% if image %}
            <div class="image">
              <img src="{{ image.getUrl() }}" width="{{ image.getWidth() }}" height="{{ image.getHeight() }}" alt="{{ image.title }}">
              <div class="clearfix"></div>
              <span class="caption">{{ block.caption }}</span>
            </div>
          {% endif %}

          <!-- quote block -->
          {% elseif block.type == "quoteBlock" %}
            <div class="pullquote">
              <span class="quote">{{ block.quote }}</span>
              <span class="quoteauth">- {{ block.cite }}</span>
            </div>
          {% endif %}

        {% endfor %}
      </div><!-- end copy -->
    </div><!-- end content -->
    <div class="clearfix"></div>
  </div>

  <!-- related articles -->
  <div class="blog-post-bottom row">

    {% for tag in craft.tags.slug(q).limit(2) %}
      {% set blogEntries = craft.entries.section('blog').relatedTo(tag).sort('postDate').limit(1) %}
      <div class="article col-xs-12 col-sm-6">

        {% for entry in blogEntries %}
          <span class="title">{{ entry.title }}</span>
          {% set image = entry.thumbnail.first() %}
            {% if image %}
              <div class="article-img" style="background-image:url({{ image.url }});background-position:center;background-size:cover;"></div>
            {% else %}
            <!-- Fallback to hero image if no thumbnail -->
            {% set image = entry.heroImage.first() %}
            {% if image %}
              <div class="article-img" style="background-image:url({{ image.url }});background-position:center;background-size:cover;"></div>
            {% endif%}
          {% endif %}

          <span class="subtitle">{{ entry.postDate.format('F d, Y') }}</span>
          <div class="clearfix"></div>
          <a href="{{ entry.url }}" class="button">Read More</a>
        </div>
        {% endfor %}


      {% endfor %}
      </div>


{% endblock %}

{% block pagescripts %}
{% endblock %}
