<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}Test Blog</title>

  <meta name="Author" content="TheoryThree Interactive" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9" />
  <meta name="google-site-verification" content="8arBc3UbHdHpieJ5Xq1FdvCL3pWtcyX2owvRe6LmzVA" />
  {% if keywords is defined %}<meta name="keywords" content="{{ keywords }}">{% endif %}
  {% if description is defined %}<meta name="description" content="{{ description }}">{% endif %}
  <meta name="google-site-verification" content="CZnT-vo6VHfw5CCbk3jJc5zbMywYvEMn2yVme8HHtec" />

  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/site.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

  {% block pagestyles %}
  {% endblock %}

</head>

<body>
	<div id="container">

		<main id="content" role="main">
			{% block content %}
			{% endblock %}
		</main>

		<footer id="footer">
			Copyright {{ now.year }} | Ryan Hall Media | All rights reserved
		</footer>
	</div>

  {% block pagescripts %}
  {% endblock %}

</body>
</html>
