{% extends "_layout" %}
{% set title = "Blog" %}

{% block content %}
	<h1>{{ entry.title }}</h1>

	{{ entry.body }}

<!-- header -->
  <div id="contentHero" class="slideshow parallax">
    <div class="scaleMask" style="height:500px;">
      {% set image = entry.heroImage.first() %}
      {% if image %}
        <div class="parallax-background" style="height:600px; width:100%; margin:0 auto; background-image:url('{{ image.url }}');background-position:center;background-size:cover;" data-photo-source="{{ image.url }}">
        </div>
      {% endif %}
      <div class="heroOverlay on"></div>
      <div class="heroText center">
        <h5>{{ entry.blogIndexSubtitle }}</h5>
        <h1>{{ entry.blogIndexTitle }}</h1>
      </div>
    </div>
  </div>

  <!-- CONTENT SECTION -->
  <div class="grey" style="border: 10px solid #f6f8fa;padding:10px;">
    <div class="subscribe row">
      <h4 class="col-xs-12 col-sm-6 hidden-xs" style="text-align:right;">Subscribe to our newsletter</h4>
      <h4 class="col-xs-12 col-sm-6 visible-xs-inline-block" style="text-align:center;">Subscribe to our newsletter</h4>
      <div class="input col-xs-12 col-sm-6">
        <form action="" method="post" id="subForm">
          <input id="fieldEmail" name="cm-hthlulr-hthlulr" type="email" placeholder="email@email.com" required />
          <button id="subscribeButton" type="submit" class="bttn med" style="padding: 8.5px 15px;">Subscribe</button>
        </form>
      </div>
    </div>
  </div>

  <!-- the list -->
  <div class="greylt bloglist center">
    <h3>Recent posts</h3>
    <div class="row">
      {% for entry in craft.entries.section('blog').find() %}
        <a href="/blog/{{ entry.slug }}" class="col-xs-12 col-sm-6 col-md-4 post">
          {% set image = entry.thumbnail.first() %}
          {% if image %}
            <div class="img" style="background:url({{ image.url }}) no-repeat center;background-size:cover;"></div>
            {% else %}
              <!-- Fallback to hero image if no thumbnail -->
              {% set image = entry.heroImage.first() %}
              {% if image %}
                <div class="img" style="background:url({{ image.url }}) no-repeat center;background-size:cover;"></div>
              {% endif%}

            {% endif %}
            <div class="information">
              <h5>{{ entry.postTitle }}</h5>
              <div class="clearfix"></div>
              <p>
                {{ entry.blogSummary }}
              </p>
          </div>
        </a>
      {% endfor %}
    </div>
    <div class="clearfix"></div>
  </div>

	<h2>Recent News</h2>
	<ul>
		{% for entry in craft.entries.section('news').limit(5).find() %}
			<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
		{% endfor %}
	</ul>

  {% block pagescripts %}
    <script type="text/javascript">
      $(document).ready(function(){
        $(this).matchHeightOnBoxes();
      });

      $.fn.matchHeightOnBoxes = function(){
        var maxHeight = -1;
        // blog post same height
        $('a.post .information').each(function(){
            maxHeight = maxHeight > $(this).height() ? maxHeight : $(this).height();
        });

        $('a.post .information').height(maxHeight);
      };
    </script>
  {% endblock %}

{% endblock %}
