{% extends "_layout" %}
{% set title = "Blog" %}

{% block content %}
<!-- header -->
  <header class="header-main">
    {% set image = entry.heroImage.first() %}
    {% if image %}
      <div class="header-background" style="background-image:url('{{ image.url }}');background-position:center;background-size:cover;">
      </div>
    {% endif %}
    <div class="header-text">
      <h1>{{ entry.blogIndexTitle }}</h1>
			<h5>{{ entry.blogIndexSubtitle }}</h5>
    </div>
  </header>

  <!-- CONTENT SECTION -->
  <div class="grey">
    <div class="subscribe row">
      <h4 class="col-xs-12 col-sm-6 hidden-xs">Subscribe to our newsletter</h4>
      <h4 class="col-xs-12 col-sm-6 visible-xs-inline-block">Subscribe to our newsletter</h4>
      <div class="input col-xs-12 col-sm-6">
        <form action="" method="post" id="subForm">
          <input id="fieldEmail" name="cm-hthlulr-hthlulr" type="email" placeholder="email@email.com" required />
          <button id="subscribeButton" type="submit" class="bttn med">Subscribe</button>
        </form>
      </div>
    </div>
  </div>

  <!-- the list -->
  <div class="greylt bloglist center">
    <h3>Recent posts</h3>
    <div class="row">
      {% for entry in craft.entries.section('blog').find() %}
        <a href="/blog/{{ entry.slug }}" class="col-xs-12 col-sm-6 col-md-4 post">
          {% set image = entry.thumbnail.first() %}
          {% if image %}
            <div class="img" style="background:url({{ image.url }}) no-repeat center;background-size:cover;"></div>
            {% else %}
              <!-- Fallback to hero image if no thumbnail -->
              {% set image = entry.heroImage.first() %}
              {% if image %}
                <div class="img" style="background:url({{ image.url }}) no-repeat center;background-size:cover;"></div>
              {% endif%}

            {% endif %}
            <div class="information">
              <h5>{{ entry.postTitle }}</h5>
              <div class="clearfix"></div>
              <p>
                {{ entry.blogSummary }}
              </p>
          </div>
        </a>
      {% endfor %}
    </div>
    <div class="clearfix"></div>
  </div>

	<h2>Recent News</h2>
	<ul>
		{% for entry in craft.entries.section('news').limit(5).find() %}
			<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
		{% endfor %}
	</ul>

  {% block pagescripts %}
    <script type="text/javascript">
      $(document).ready(function(){
        $(this).matchHeightOnBoxes();
      });

      $.fn.matchHeightOnBoxes = function(){
        var maxHeight = -1;
        // blog post same height
        $('a.post .information').each(function(){
            maxHeight = maxHeight > $(this).height() ? maxHeight : $(this).height();
        });

        $('a.post .information').height(maxHeight);
      };
    </script>
  {% endblock %}

{% endblock %}
