{% extends "_layout" %}
{% set title = "Blog" %}

{% block content %}
<!-- header -->
  <header class="header-main">
    <!-- {% set image = entry.heroImage.first() %}
    {% if image %}
      <div class="header-background" style="background-image:url('{{ image.url }}');background-position:center;background-size:cover;">
      </div>
    {% endif %} -->
    <div class="header-text">
      <h1>{{ entry.blogIndexTitle }}</h1>
			<div class="clearfix"></div>
			<h4>{{ entry.blogIndexSubtitle }}</h4>
    </div>
		<div class="down">
			<span>Scroll</span>
			<div class="line"></div>
		</div>
  </header>

  <!-- the list -->
  <section class="blog-list contain">

		{% paginate craft.entries.section('blog').limit(4) as pageInfo, pageEntries %}

      {% for entry in pageEntries %}

				{% if (loop.index - 1) is divisible by(2) %}
	        <a href="/blog/{{ entry.slug }}" class="list-item row">
	          {% set image = entry.thumbnail.first() %}
	          {% if image %}
	            <div class="list-item-img col-xs-12 col-sm-6" style="background:url({{ image.url }}) no-repeat center;background-size:cover;"></div>
	            {% else %}
	              <!-- Fallback to hero image if no thumbnail -->
	              {% set image = entry.heroImage.first() %}
	              {% if image %}
	                <div class="list-item-img col-xs-12 col-sm-6" style="background:url({{ image.url }}) no-repeat center;background-size:cover;"></div>
	              {% endif%}

	            {% endif %}
	            <div class="information col-xs-12 col-sm-6">
	              <h3>{{ entry.postTitle }}</h3>
	              <div class="clearfix"></div>
								<h6>{{ entry.ert }} min read</h6>
	              <p class="summary">
	                {{ entry.blogSummary }}
	              </p>
								<span class="button">Read More</span>
	          	</div>
	        </a>
			    <div class="clearfix"></div>
					{% else %}

					<a href="/blog/{{ entry.slug }}" class="list-item row">
						<div class="information col-xs-12 col-sm-6">
							<h3>{{ entry.postTitle }}</h3>
							<div class="clearfix"></div>
							<h6>{{ entry.ert }} min read</h6>
							<p class="summary">
								{{ entry.blogSummary }}
							</p>
							<span class="button">Read More</span>
						</div>
						{% set image = entry.thumbnail.first() %}
						{% if image %}
							<div class="list-item-img col-xs-12 col-sm-6" style="background:url({{ image.url }}) no-repeat center;background-size:cover;"></div>
							{% else %}
								<!-- Fallback to hero image if no thumbnail -->
								{% set image = entry.heroImage.first() %}
								{% if image %}
									<div class="list-item-img col-xs-12 col-sm-6" style="background:url({{ image.url }}) no-repeat center;background-size:cover;"></div>
								{% endif%}

							{% endif %}
					</a>
					<div class="clearfix"></div>
					{% endif %}
      {% endfor %}
  </section>






	{% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">Previous Page</a>{% endif %}

	{% for page, url in pageInfo.getPrevUrls(5) %}
	    <a href="{{ url }}">{{ page }}</a>
	{% endfor %}

	<span class="current">{{ pageInfo.currentPage }}</span>

	{% for page, url in pageInfo.getNextUrls(5) %}
	    <a href="{{ url }}">{{ page }}</a>
	{% endfor %}

	{% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">Next Page</a>{% endif %}

  {% block pagescripts %}
  {% endblock %}

{% endblock %}
